upstream front{
    server front:8080;
}

upstream back{
    server back:8080;
}

server {
    listen                       80 default_server;
    server_name                  *.adminadmin.fr;

    location / {
        proxy_pass http://front;
    }

    location /api {
        proxy_pass http://back;
    }

}